# SPDX-FileCopyrightText: Copyright 2022 Arm Limited and/or its affiliates
# SPDX-License-Identifier: CC-BY-SA-4.0

# IDE settings
/.vscode
# Local OS files
.DS_Store
# Python cache
__pycache__/
*.py[cod]
# Generated documentation
_build
build
